.infoBox {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  
    .title {
      font-size: 14px;
      margin-bottom: 15px;
      width: 300px;
    }
  }
  .boxTitle {
    font-size: 16px;
    font-weight: 700;
    margin-top: 30px;
  }
  .table {
    width: 100%;
  }