.demo-tabs>.el-tabs__content {
    padding: 32px;
    color: #6b778c;
    font-size: 32px;
    font-weight: 600;
  }
  
  ::v-deep .el-tabs {
    margin-top: 30px !important;
  }
  
  .btn {
    width: 150px;
    margin: 30px auto;
  }
  
  .down {
    margin-top: 25px;
    display: flex;
    align-items: center;
  }
  
  .textarea {
    display: flex;
    margin-top: 35px;
  
    .input-textarea {
      width: 500px;
    }
  }
  
  .add-careful {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  
    ::v-deep .el-date-editor {
      height: 40px !important;
    }
  
    .input {
      // width: 400px;
      display: flex;
      align-items: center;
      margin-right: 30px;
      margin-top: 30px;
  
      .title {
        margin-right: 15px;
        font-weight: normal;
      }
  
      .el-input {
        width: 240px !important;
        height: 38px;
      }
  
      .el-input__wrapper {
        height: 38px !important;
      }
    }
  }