.inputs {
    margin-top: 20px;
    width: 312px;

    .title {
        width: 140px;
    }
}

.el-dialog__body {
    padding: 30px 60px !important;
}

.centerDialogVisibles-btn {
    margin: 0 auto;
    margin-top: 40px;

}
.addname{
    padding-left: 10px;
    display: flex;
    align-items: center;
    .title {
        width: 165px !important;
       margin-right: 0px !important;
    //   margin-left: 15px;
    }
    .inputs {
        margin-top: 20px;
        width: 315px;
    
     
    }
    
}
.expenditure{
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-size: 18px !important;
    font-weight: 550;
    .xmexpenditure{
        margin-right: 20px;
       
    }
}
.tables{
    padding-left: 10px;
    margin-top: 20px;
}