.header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: left;
}

.headInput,
.headSelect {
	display: flex;
	align-items: center;
	margin: 15px 30px 15px 0;

	.title {
		// width: 80px;
		text-align: right;
		text-wrap: nowrap;
		margin-right: 5px;
	}

	.input {
		width: 210px;
	}
}

.btn {
	margin-left: 40px;
}

.page {
	display: flex;
	justify-content: right;
	margin: 20px;
}
